body {
    padding-left: 20px;
    background-color: #ecf0f1;
    color: #2c3e50;
    font-family: sans-serif;
}

ul, ol {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.run_stats {
	height: 9em;
}